/*Estilos generales:*/
body {
    font-family: 'Roboto', sans-serif;
    color: #474747;
    font-size: 16px;
}
h2 {
    text-transform: uppercase;
    color: #8294C4;
    font-weight: lighter;
    font-size: 45px;
    border-bottom: solid 1px;
    margin-top: 30px;
}
h3 {
    text-transform: uppercase;
    color: #8294C4;
    font-size: 25px;
    margin-top: 40px;
}
ul {
    list-style-type: none;
  }
ul i{
    font-size: 25px;
    margin: 10px;
    margin-right: 30px;
    color: #ACB1D6;
}
.negrita{
    font-weight: bold;
    color:#474747;
}
/*Estilos de Header:*/
.logo {
    width: 250px;
    margin-right: 50px;
}
/*Estilos de sección Nosotros:*/
.nosotros {
    text-align: justify;
    line-height: 2em;
}
/*Estilos de sección Habitaciones:*/
#estandar{
    text-align: justify;
    line-height: 2em;
}
#superior{
    text-align: justify;
    line-height: 2em;
}
#familiar{
    text-align: justify;
    line-height: 2em;
}
#presidencial{
    text-align: justify;
    line-height: 2em;
}
/*Estilos de sección Contacto:*/
.newsletter{
    margin-top: 15px;
}
.redes{
    font-size: 30px;
    padding: 10px;
}
form label{
    margin: 10px;
}
form button{
    margin: 20px;
}
/*Estilos de sección Galería:*/
.imagen{
    transition: all 0.3s;
    padding: 15px;
}
.imagen:hover{
    transform: scale(1.15);
}
/*Estilos de Footer:*/
footer {
    background-color: #FFEAD2;
    color: #8c8b8b;
    padding: 20px;
}
footer i{
    font-size: 40px;
    margin: 40px 15px 0px 0px;
}
.footer-logo {
    width: 250px;
    margin: 20px;
}