body{
    font-family: 'Roboto', sans-serif;
    color: #474747;
}
/* quitar este estilo una vez que se acomoden todas las img: */
img {
    width: 800px;
}
h2{
    text-transform: uppercase;
    color: #8294C4;
    font-weight: lighter;
    font-size: 45px;
    border-bottom: solid 1px;
}
h3{
    text-transform: uppercase;
    color: #8294C4;
    font-weight: light;
    font-size: 25px;
}
.logo {
    width: 250px;
}

/* footer: */
footer{
    background-color: #FFEAD2;
    color: #8c8b8b;
}
.footer-logo {
    width: 250px;
    margin-top: 40px;
}